<div id="wrapper" class="flex flex-col min-h-screen justify-between">

  <header class="w-full flex justify-between p-2 curved-background">
    <div class="flex items-center mt-3 ml-5">
      <img src="https://res.cloudinary.com/dsemrnx2w/image/upload/c_scale,f_auto,q_auto,w_152/v1677343827/mini_studio/logo.png" class="h-10 md:h-12">
      <span class="text-lg md:text-2xl font-semibold tracking-tight">ASY-STUDIO</span>
    </div>
    <div class="flex items-center cursor-pointer" title="I know, you liked it!&#013;Try PRO-STUDIO for premium users."
      (click)="openPremiumDialog()">
      <mat-icon class="text-amber-300 mr-2">verified</mat-icon>
      <h3 style="margin:0;">PRO-STUDIO</h3>
    </div>
  </header>

  <main class="flex flex-col md:flex-row flex-grow justify-center curved-background__curved md:h-4/6 pt-10 md:pt-16 mb-12">
    <div class="flex flex-col text-2xl md:w-6/12 px-5 md:px-20">
      <span class="text-3xl w-full mb-7 text-center md:text-left title">Powerful <strong>FREE</strong> tool for photo edition</span>
      <span class="text-xl my-1">Resize, crop, put filters, effects and more!</span>
      <span class="text-xl my-1">Create <strong>high quality</strong> beautiful designs right in your browser.</span>
      <span class="text-xl mb-1 mt-3">You can create amazing profile pictures, banners or images for social medias with <strong>on-click</strong>.</span>
    </div>

    <div class="flex flex-col items-center md:w-6/12">
      <span class="mb-5 text-xl font-semibold">Quick and easy photo editor.</span>
      <div class="shadow-sm">
        <ngx-dropzone (change)="onSelect($event)" [maxFileSize]="5000000" accept="image/jpeg,image/jpg,image/png" class="!h-auto min-h-[12rem]">
          <ngx-dropzone-label class="flex flex-col w-80 justify-around items-center px-1">
            <button class="pointer-events-none bg-blue-500 text-white rounded-3xl w-32 px-5 py-3 m-1">Upload</button>
            <span class="mt-3">Drop a image, or click and select one!</span>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
              [removable]="true" (removed)="onRemove(f)" class="flex flex-col !m-auto w-80 overflow-hidden !h-auto">
              <ngx-dropzone-label class="!relative text-xs px-1">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <mat-progress-bar *ngIf="loadImage" mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="m-5">
        <button mat-raised-button class="bg-blue-500 text-white shadow-xl" (click)="onUpload()">Start design!</button>
      </div>
    </div>
  </main>

  <footer class="flex w-full justify-center items-center gap-x-2 my-3 font-medium">
    Made with
    <a href="https://cloudinary.com" target="_blank" rel="noreferrer">
      <img src="https://res.cloudinary.com/dsemrnx2w/image/upload/c_scale,f_auto,q_auto,w_288/v1677344981/mini_studio/cloudinary_logo_white_0720_2x_xwpyt4.png" class="w-36">
    </a>
  </footer>

</div>