.content{
    background-color: #1C1F22;
}
.sidebar, .topbar{
    color: #1C1F22;
    background-color: rgb(246, 250, 250);
}
.sidebar{
    min-width: 128px;
}
.introjs-tooltip, .introjs-tooltiptext {
    color: black!important;
}
.filters{
    height: 100%;
    border: 3px solid transparent;
}
.filters img{
    height: 100%;
    width: 100%;
}
.filters:hover{
    border: 3px solid #fff;
}
.divider{
    border-right: 1px solid rgb(211, 211, 211);
    height: 100%;
    width: 1rem;
    margin-left: 0px!important;
}