<div class="min-h-screen max-h-screen flex flex-col">
  <app-header></app-header>

  <div class="flex flex-row relative flex-grow overflow-auto">
    
    <div class="sidebar flex flex-col w-3/12 p-2">
      <div class="flex flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs w-full font-semibold">Resize:</span>
        <span class="text-xs ml-2">Width: {{width}}</span>
        <mat-slider min="1" max="1024" step="1" showTickMarks discrete
            (input)="resize($event, 'width')" [value]="width" color="primary" class="grow">
            <input matSliderThumb>
        </mat-slider>
      </div>
      <div class="flex flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs ml-2">Height: {{height}}</span>
        <mat-slider min="1" max="1024" step="1" showTickMarks discrete
            (input)="resize($event, 'height')" [value]="height" color="primary" class="grow">
            <input matSliderThumb>
        </mat-slider>
      </div>
      <div class="flex flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs font-semibold">Opacity: <span class="font-normal">{{opacity}}</span></span>
        <mat-slider min="0" max="100" step="1" showTickMarks discrete
            (input)="changeOpacity($event)" [value]="opacity" color="primary" class="grow">
            <input matSliderThumb>
        </mat-slider>
      </div>
      <div class="flex flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs font-semibold">Pixelate: <span class="font-normal">{{pixelate}}</span></span>
        <mat-slider min="0" max="20" step="1" showTickMarks discrete
            (input)="changePixel($event)" [value]="pixelate" color="primary" class="grow">
            <input matSliderThumb>
        </mat-slider>
      </div>
      <div class="flex flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs font-semibold">Saturation: <span class="font-normal">{{saturation}}</span></span>
        <mat-slider min="-100" max="100" step="1" showTickMarks discrete
            (input)="changeSaturation($event)" [value]="saturation" color="primary" class="grow">
            <input matSliderThumb>
        </mat-slider>
      </div>
      <div class="flex flex-col flex-wrap w-full justify-between items-center px-1">
        <span class="text-xs font-semibold">Rotate: <span class="font-normal">{{rotation}}</span></span>
        <mat-slider min="-90" max="90" step="1" showTickMarks discrete
            (input)="rotate($event)" [value]="rotation" color="primary" class="grow w-full">
            <input matSliderThumb>
        </mat-slider>
      </div>

      <div class="flex flex-col flex-wrap w-full justify-between items-center px-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Text</mat-label>
          <input matInput placeholder="Your custom text" (focusout)="setCustomText($event)">
        </mat-form-field>
      </div>
    </div>

    <div class="w-9/12 flex flex-col">
        <div class="topbar flex justify-center p-1">
            <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle value="square" (click)="cropImage('square')" aria-label="Square" title="Square">
                  <mat-icon>crop_square</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="portrait" (click)="cropImage('portrait')" aria-label="Portrait" title="Portrait">
                  <mat-icon>crop_portrait</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="rectangle" (click)="cropImage('rectangle')" aria-label="Banner" title="Banner">
                  <mat-icon>crop_16_9</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="face" (click)="cropImage('face')" aria-label="Face" title="Face focus">
                  <mat-icon>account_box</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
        </div>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div class="content flex items-center justify-center h-full overflow-auto">
          <advanced-image [cldImg]="cloudinaryImg" loading="eager" 
              class="!flex w-full h-full items-center justify-center overflow-hidden"></advanced-image>
        </div>
        
        <div class="downbar flex overflow-x-auto overflow-y-hidden space-x-6 items-center py-3 px-2">
          <advanced-image [cldImg]="publicId | getImg: 'none'" (click)="callFiltersImg('none')" class="!flex filters justify-center flex-shrink-0" title="Original"></advanced-image>
          <div class="divider"></div>
          <advanced-image *ngFor="let effect of effects" [cldImg]="publicId | getImg: effect" (click)="callFiltersImg(effect)" 
            class="!flex filters justify-center flex-shrink-0" title="{{effect}}"></advanced-image>
        </div>
    </div>
  </div>
</div>